* {
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  margin: 20px;
}

#button-row {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
