* {
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  margin: 20px;
}

#button-row {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

#button-row > button {
  padding: 10px;
  margin: 2px;
  border: none;
  border-radius: 12px;
  background-color: #f0f0f0;
  cursor: pointer;
}
